<div id="wrapper">

  <div class="jumbotron" style="background-color: #D1B894">
    <div class="center col-sm-12" id="top-bar">
      <h1 class="text-center"><strong>MIDDLE EAST NEWS</strong></h1>
      <h2 class="text-center">
  
      </h2>
    </div>
  </div>
  <div>
    <p>To Goto Link Type: https://www.aljazeera.com + "/link.html"</p>
    <button id="beginScrape">Begin Scrape</button>
  </div>
  <h2><i>ALJAZEERA</i></h2>

  <div id="articles">
    <ul>
      {{#each articles}}

      {{/each}}
    </ul>
  </div>
  <div id="notes">
  </div>
</div>