<div id="wrapper">
 <h1>Scraper</h1>
  <div>
    <button id="beginScrape">Begin Scrape</button>
  </div>
 <h2><i>Articles Below</i></h2>

 <div id="articles">
   <ul>
     {{#each articles}}

     {{/each}}
   </ul>
 </div>
 <div id="notes">
   {{!-- <label for="notes">Notes:</label>
   <input type="text" id="nots" name="name">
   <button type="submit">Save</button> --}}
 </div>
</div>